HTTP_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_USER=xuserx
POSTGRES_PASSWORD=xpasswordx
POSTGRES_DB=xdbx
POSTGRES_PORT=5432
POSTGRES_SSL_MODE=disable

DATABASE_URL=postgres://xuserx:xpasswordx@localhost:5432/xdbx?sslmode=disable
