HTTP_PORT=8080

# postgres container
POSTGRES_USER=xuserx
POSTGRES_PASSWORD=xpasswordx
POSTGRES_DB=xdbx

# backend / dbmate
DB_HOST=db
DB_USER=xuserx
DB_PASSWORD=xpasswordx
DB_NAME=xdbx
DB_PORT=5432
DB_SSL_MODE=disable

DATABASE_URL=postgres://xuserx:xpasswordx@localhost:5432/xdbx?sslmode=disable

# redis container
REDIS_ADDRESS=redis:6379
REDIS_PASSWORD=xpasswordx
REDIS_DB=0

JWT_SECRET_KEY=jwtsecretkey

PAYMENT_PROCESSOR_URL=https://1620e98f-7759-431c-a2aa-f449d591150b.mock.pstmn.io
